<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=/static/favicon-20180731.ico type=image/x-icon>
    <title>Mark One - The Simplest Way to Take Notes for Online Videos</title>
    <link href=/static/css/app.7c32784aaded593148f452e5c7c85c45.css rel=stylesheet>
</head>
<body>
<div id=app>
    <script type=text/javascript src=/static/js/manifest.3d22101c846d66447660.js></script>
    <script type=text/javascript src=/static/js/vendor.d0e8e02f9eec80f09fe8.js></script>
    <script type=text/javascript src=/static/js/app.fecf9602d439e64e8397.js></script>
</div>
</body>
</html>