<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href=/static/favicon-20180731.ico type=image/x-icon>
  <link rel=chrome-webstore-item href=https://chrome.google.com/webstore/detail/alnbdccffncnmmffkcmojobcaejebing>
  <meta name=google-signin-scope content="profile email">
  <meta name=google-signin-client_id content=728616517590-om5s9j1llfcbaru8t5al706r2tu5faqo.apps.googleusercontent.com>
  <title>Mark One - The Simplest Way to Take Notes for Online Videos</title>
  <link href=/static/css/app.7a4a500a7960ed24235be8c8053d28c6.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script src=https://apis.google.com/js/api:client.js async defer=defer></script>
  <script type=text/javascript src=/static/js/manifest.6021d1c6b5b84a620f7d.js></script>
  <script type=text/javascript src=/static/js/vendor.ff35ce0fc1a7e768af75.js></script>
  <script type=text/javascript src=/static/js/app.2e3549912727345c9a4c.js></script>
</body>

</html>
