<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    {% load staticfiles %}
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=/static/favicon.ico type=image/x-icon>
    <title>Mark One - The Simplest Way to Take Notes for Online Videos</title>
    <link href=/static/css/app.fce79d0149c708724a44a71ee3a053d2.css rel=stylesheet>
{#    <link href="{% static "css/app.fce79d0149c708724a44a71ee3a053d2.css" %}" rel=stylesheet>#}
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.1b192169769158622a66.js></script>
    <script type=text/javascript src=/static/js/vendor.d0e8e02f9eec80f09fe8.js></script>
    <script type=text/javascript src=/static/js/app.58a1a266f0eb350b74fd.js></script>
</body>
</html>

